.root {
  display: flex;
  align-items: center;
  background-color: var(--c-control);
  border-radius: var(--base-radius-sm);
  transition: box-shadow var(--a-time-sm) var(--a-ease);
}

.root:focus-within {
  box-shadow: var(--shadow-focus);
}

.root > input {
  appearance: none;
  width: 100%;
  height: 36px;
  font-family: var(--text-font-family);
  font-size: var(--text-s-sm);
  border: none;
  color: var(--c-grey1);
  padding: 0 12px;
  border-radius: var(--base-radius-sm);
}

.root > input::placeholder {
  color: var(--c-grey2);
}

.right, .left {
  flex-shrink: 0;
  padding: 2px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  color: var(--c-grey2)
}

.icon + input {
  padding-left: 8px;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.label {
  font-size: var(--text-s-xs);
  margin-bottom: 4px;
  color: var(--c-grey2);
}

.error {
  color: var(--c-red);
  font-size: var(--text-s-xs);
  margin-top: 4px;
}

.root[data-error]:not([data-error="false"]) {
  box-shadow: 0 0 0 2px var(--c-red);
}

.root[data-error]:not([data-error="false"]) > input, .root[data-error]:not([data-error="false"]) .icon {
  color: var(--c-red);
}
