.root {
  background-color: var(--c-bg);
  border-radius: var(--base-radius-md);
  padding: 4px;
  box-shadow: var(--shadow-sm), var(--shadow-md), var(--shadow-border);
  min-width: 120px;
  animation-duration: var(--a-time-sm);
  animation-timing-function: var(--a-slide);
  animation-fill-mode: forwards;

  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.item, .label {
  padding: 0px 12px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: var(--text-s-xs);
  border-radius: var(--base-radius-sm);
  cursor: default;

  &:focus, &:active {
    background-color: var(--c-grey1);
    color: var(--c-contrast);

    & .rightSlot {
      color: var(--c-contrast);
    }
  }
}

.label {
  line-height: 28px;
  font-size: var(--text-s-xs);
  color: var(--c-grey3);
}

.arrow {
  display: block;
  margin: -1px;
}

.rightSlot {
  margin-left: auto;
  padding-left: 20px;
  font-size: var(--text-s-xs);
  color: var(--c-grey3);
}

.indicator {
  position: absolute;
  left: 0px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.separator {
  height: 1px;
  background-color: var(--c-grey3);
  opacity: 0.4;
  margin: 4px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}