.root {
    min-height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;

    .flow {
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 720px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .nav {
        position: sticky;
        min-width: 100px;
        padding: 24px;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-right: 1px var(--c-border) solid;

        @media screen and (max-width: 720px) {
            position: static;
            flex-direction: row;
            height: unset;
            width: 100%;
            padding-bottom: 8px;
            background-color: var(--c-bg);
        }
    }

    .logo {
        display: block;
        color: var(--c-grey3);
        width: fit-content;
    }

    .main {
        flex-grow: 1;
    }

    .footer {
        padding: 24px 0;
    }
}
