:root {
  --c-white: #fff;
  --c-bg: var(--c-white);
  --c-control: #f2f2f2;
  --c-border: #e5e5e5;
  --c-border-secondary: var(--c-control);
  --c-backdrop: rgba(0,0,0,.3);
  --c-active: rgba(0,0,0,.05);
  --c-grey1: #111;
  --c-grey2: #666;
  --c-grey3: #aaa;
  --c-green: #32bd64;
  --c-orange: #ffa500;
  --c-red: #f04b4b;
}