.root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .handle {
        cursor: grab;
        touch-action: manipulation;
        margin: 0 -8px;
        padding: 0 8px;

        svg {
            display: block;
        }
    }
}
