.root {
    height: calc(100% + 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    margin: -8px;
    padding: 8px 0;

    .handle {
        cursor: grab;
        touch-action: manipulation;
        padding: 0 8px;

        svg {
            display: block;
        }

        &:active {
            cursor: grabbing;
        }
    }
}
