.overlay {
  background-color: var(--c-backdrop);
  position: fixed;
  inset: 0px;
  animation: var(--a-fade-in) var(--a-time-xs) var(--a-ease) forwards;
  z-index: 100;
}

.wrapper {
  position: fixed;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 101;

  @media screen and (max-width: 720px) {
    padding: 0;
    align-items: flex-end;
  }
}

.content {
  padding: 24px;
  background-color: var(--c-bg);
  border-radius: var(--base-radius-md);
  width: 100%;
  animation: var(--a-fade-in-up) var(--a-time-xs) var(--a-ease) forwards;

  @media screen and (max-width: 720px) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &[data-width="xs"] {
    max-width: 280px;
  }

  &[data-width="sm"] {
    max-width: 375px;
  }

  &[data-width="md"] {
    max-width: 480px;
  }

  &[data-width="lg"] {
    max-width: 600px;
  }
}

.title {
  font-size: var(--text-s-lg);
  font-weight: 500;
  margin-bottom: 8px;
}

.description {
  font-size: var(--text-s-sm);
  color: var(--c-grey2);
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 720px) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
