:root {
  --text-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --text-s-xs: 13px;
  --text-s-sm: 14px;
  --text-s-md: 16px;
  --text-s-lg: 18px;

  --text-line-height: 1.6;
  --text-line-height-p: 1.3;
}